
.form-text {
    margin: 25px 0; 
}

.form-text label {
    display: block;
    margin-bottom: 35px;
    font-size: 25px;
}

.form-text input {
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 3px;
    box-sizing: border-box; /* é util para layouts responsivos controlando o tamnho total de um elemento*/
}