.campo-text {
    margin: 24px 0;
}

.campo-text {
    display: block;
    margin-bottom: 8px;
    font-size: 25px;
}

.campo-text {
    background-color: aliceblue;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.0);
    width: 100%;
    border: none;
    font-size: 25px;
    padding: 25px;
    box-sizing: border-box;
}