.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: 4rem;
  color: #d61f55;
  font-family: 'Shadows Into Light', cursive;
  animation: fadeIn 2s;
}

.loveButton {
  background: linear-gradient(45deg, #d61f55, #e91e63);
  border-radius: 50px;
  border: none;
  color: white;
  padding: 20px 40px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.loveButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(214, 31, 85, 0.4);
}

.clicked {
  transform: rotate(360deg);
  background-color: #d61f55;
  box-shadow: 0px 5px 15px rgba(214, 31, 85, 0.4);
}

.poem {
  font-size: 2rem;
  color: #d61f55;
  animation: fadeIn 2s;
}

.heart1, .heart2, .heart3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  background: radial-gradient(#f9a7a9, transparent);
  border-radius: 50%;
  opacity: 0;
  animation: heartbeat 1s infinite;
}

.heart2 {
  width: 200px;
  height: 200px;
  background: radial-gradient(#f9a7a9, transparent);
  border-radius: 50%;
  animation: heartbeat 2s infinite;
}

.heart3 {
  width: 300px;
  height: 300px;
  background: radial-gradient(#f9a7a9, transparent);
  border-radius: 50%;
  animation: heartbeat 3s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  20% {
    transform: scale(1);
    opacity: 1;
  }

  40% {
    transform: scale(0.75);
    opacity: 0;
  }

  60% {
    transform: scale(1);
    opacity: 1;
  }

  80% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(0.75);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
